<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
layout:decorate="Document/layout">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >

<title>Insert title here</title>
</head>
<body>
<div class="container" layout:fragment="content">
<div class="spacer col-md-6">
<form th:action="@{saveRev}" method="post">
  <div class="form-group">
  
 
    <label for="formGroupExampleInput">id document:</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"
    name="id_doc"  th:value="${document.id_doc}" required="required">
    <span class="text-danger" th:errors="${document.id_doc}"></span>
  </div>
 
   
  
 <div class="form-group" id="forRev">
    <label for="formGroupExampleInput2">annee de publication</label>
    <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input"
    name="anneeDePub" th:value="${document.anneeDePub}" required="required">
    <span class="text-danger" th:errors="${document.anneeDePub}"></span>
  </div>

  
  <div class="form-group">
    <label for="formGroupExampleInput2">prix de vente</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input"
    name="prixDeVente" th:value="${document.prixDeVente}" required="required">
  <span class="text-danger" th:errors="${document.prixDeVente}"></span>

 
  
  <button type="submit" class="btn btn-primary">save</button>
  </div>

</form>
</div>
</div>
</body>
</html>